* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-primary: 'Lato', sans-serif;

    --color-angle: 80;
    --bg-primary-light: hsl(var(--color-angle), 80%, 93%);
    --bg-primary-medium: hsl(var(--color-angle), 70%, 86%);
    --bg-primary-dark: hsl(var(--color-angle), 50%, 15%);
    --bg-primary-dark-transparent: hsla(var(--color-angle), 50%, 15%, 0.2);
    --bg-primary-dark-unavailable: hsla(var(--color-angle), 50%, 15%, 0.4);
    
    --bg-secondary-light: hsl(var(--color-angle), 80%, 100%);

    --fc-primary-dark: hsl(var(--color-angle), 50%, 15%);
    --fc-primary-dark-unavailable: hsl(var(--color-angle), 50%, 25%);
    --fc-primary-hover: hsl(var(--color-angle), 100%, 30%);
}

body {
    color: var(--fc-primary-dark);
    font-family: var(--ff-primary);
    background-color: var(--bg-primary-light);
}

body header {
    border: 2px solid var(--bg-primary-light);
}

body header:hover {
    background-color: var(--bg-secondary-light);
    box-shadow: inset 0 0 2.0rem 2.0rem var(--bg-primary-light);
}


main {
    margin: 0 3.0rem 0 3.0rem;
}

@media (min-width: 720px) {
    
    main {
        display: grid;
        grid-template-areas:
        "repo-description repo-description"
        "major-projects stages-list"
        "whats-next whats-next"
        "stacks contact";

        gap: 1.0rem;
    }


    main #repo-description {
        grid-area: repo-description;
    }

    main #major-projects {
        grid-area: major-projects;
    }

    main #stages-list {
        grid-area: stages-list;
    }

    main #whats-next {
        grid-area: whats-next;
    }

    main #stacks {
        grid-area: stacks;
    }

    main #contact {
        grid-area: contact;
    }
}

@media (max-width: 720px) {       
    #stages-list ul li a {
        min-width: 100%;
    }

    #stages-list ul li h3 {
        display: none;
    }
}

@media (max-width: 400px) {

    #stacks .stack-badges {
        grid-area: section-content;
        
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}

@media (min-width: 1000px) {
    main {
        display: grid;
        grid-template-areas:
        "repo-description major-projects whats-next"
        "repo-description major-projects whats-next"
        "repo-description major-projects stacks"
        "stages-list stages-list contact";

        gap: 1.0rem;
    }

    main #repo-description {
        grid-area: repo-description;
    }

    main #major-projects {
        grid-area: major-projects;
    }

    main #stages-list {
        grid-area: stages-list;
    }

    main #whats-next {
        grid-area: whats-next;
    }

    main #stacks {
        grid-area: stacks;
    }

    main #contact {
        grid-area: contact;
    }
}


header h1 {
    font-size: clamp(1.6rem, 0.1rem + 2vw, 3.2rem);
    line-height: 4.8rem;
    font-weight: 700;
    text-align: center;

    margin: 2.4rem 0 1.6rem;
    border-top: 1px solid var(--fc-primary-dark);
    border-bottom: 1px solid var(--fc-primary-dark);

    display: flex;
    align-items: center;
    justify-content: center;
}

header h2 {
    font-size: 2.0rem;
    line-height: 3.0rem;
    font-weight: 700;
    text-align: center;

    width: 90%;
    margin: 0 auto 1.6rem;
}

header p {
    text-align: center;
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

@media (max-width: 400px) {
    header p {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    header p img {
        justify-self: center;
        align-self: center;
    }
}

header h3 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
    text-align: center;

    margin-top: 1.6rem
}

header progress[value] {
    /*Reset the default appearance */
    appearance: none;

    width: 80%;
    margin-left: 10%;
    margin-bottom: 2.4rem;
}

progress[value]::-webkit-progress-bar {
    background-color: var(--bg-primary-light);
    border-radius: 999px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, var(--fc-primary-dark), var(--fc-primary-hover));
  
      border-radius: 999px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }

main section {
    display: grid;
    grid-template-columns: 3.0rem 1fr;
    grid-template-rows: 3.0rem 1fr;
    grid-template-areas: "section-icon section-title"
    "section-content section-content";
    align-items: center;
    row-gap: 1.6rem;

    background-color: var(--bg-primary-medium);
    border: 2px solid var(--bg-primary-light);
    border-radius: 16px;
    padding: 8px;

    transition: all 200ms;
}

main section:hover {
    border: 2px solid var(--bg-secondary-light);
    background-color: var(--bg-secondary-light);
    box-shadow:
    -1px -2px 15px 5px #00000055;

    transform: translateX(1px);
    transform: translateY(2px);
}

main section:hover ul li{
    border: 2px solid var(--bg-secondary-light);
}

main section svg {
    grid-area: section-icon;

    width: 2.0rem;
    height: 2.0rem;
}

main section h2 {
    grid-area: section-title;

    font-size: 2.0rem;
    line-height: 3.0rem;
    font-weight: 700;
}

main section ul {
    grid-area: section-content;
    margin: 1.6rem auto 1.6rem;

    height: 100%;
    width: 100%;

    list-style: none;

    display: grid;
    grid-template-columns: 1fr 1fr;
    
    column-gap: 2.0rem;
    row-gap: 1.5rem;
}

main section ul li {
    display: grid;
    text-align: center;
    align-content: center;

    grid-template-areas: "title title"
    "description description"
    "code deploy";
    column-gap: 1.0rem;

    border: 2px solid var(--bg-primary-medium);
    border-radius: 8px;
}

main section ul li:hover {
    border: 2px solid var(--bg-primary-light);
    background-color: var(--bg-primary-light);
}

main section ul li h3 {
    grid-area: title;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 700;
    text-align: center;
}

main section ul li p {
    grid-area: description;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
    text-align: center;

    min-height: 4.8rem;
}

main section ul li .available {
    color: var(--fc-primary-dark);
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    background-color: var(--bg-primary-dark-transparent);
    border-radius: 8px;
}

main section ul li .unavailable {
    color: var(--fc-primary-dark-unavailable);
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    text-align: center;
    text-decoration:line-through;

    background-color: var(--bg-primary-dark-unavailable);
    border-radius: 8px;
}

main section ul li .available:hover {
    background-color: var(--bg-primary-dark);
    color: var(--bg-primary-light);
}

main #repo-description {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    text-align:justify;

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#repo-description a,
#contact a,
footer a {
    color: var(--fc-primary-dark);
    font-style: italic;
    text-decoration: none;

}

#repo-description a:hover,
#contact a:hover,
footer a:hover {
    color: var(--fc-primary-hover);
    font-style: italic;
    text-decoration: none;

}

main #stages-list {
    grid-template-columns: 3.0rem 1fr;
    grid-template-rows: 4.0rem auto;
    grid-template-areas: "section-icon section-title"
    "section-description section-description"
    "section-content section-content";
}

#stages-list p,
main #contact p,
main #whats-next p {
    grid-area: section-description;

    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    text-align:justify;
}

#stages-list ul {
    grid-area: section-content;
}

#stages-list ul li {
    display: flex;
    align-items: center;
    justify-content: start;
}

main #stacks {
    grid-template-columns: 3.0rem 1fr;
    grid-template-rows: 4.0rem 1fr;
    grid-template-areas: "section-icon section-title"
    "section-content section-content";
}

main #stacks .stack-badges {
    grid-area: section-content;

    display: flex;
    gap: 1.6rem;
    align-items: center;
}
/* 
.stack-badges {
    width: 100%;
    height: 100%;
} */

main #contact {
    grid-template-columns: 3.0rem 1fr;
    grid-template-rows: 0.1fr 0.2fr 0.8fr;
    grid-template-areas: "section-icon section-title"
    "section-content section-content"
    "section-description section-description";
}

main #contact svg {
    grid-area: section-icon;
}

main #contact h2 {
    grid-area: section-title;
}

main #contact p {
    grid-area: section-description;
}

main #contact .contact-badges {
    grid-area: section-content;

    display: flex;
    gap: 1.0rem;
}

main #whats-next {
    grid-template-columns: 3.0rem 1fr;
    grid-template-rows: 0.1fr 0.2fr 0.8fr;
    grid-template-areas: "section-icon section-title"
    "section-description section-description"
    "section-content section-content";
}

main #whats-next p {
    grid-area: section-description;
}

main #whats-next #chart {
    grid-area: section-content;
}

main #whats-next #chart img {
    width: 100%;
    height: 100%;
    filter:hue-rotate(calc(var(--color-angle) * 1deg));
}

main #whats-next:hover img {
    filter:grayscale(1);
}

footer {
    border-top: 2px solid var(--bg-primary-light);
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;

    font-size: 1.2rem;
    line-height: 1.8rem;
    font-style: italic;
    text-align: center;
}

footer:hover {
    background-color: var(--bg-secondary-light);
    box-shadow: inset 0 0 0.5rem 0.5rem var(--bg-primary-light);
}