body {
  margin: 0 auto 0;
  min-height: 100vh;

  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
}

.page {
  width: 1000px;
  margin: 0 auto 0;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 55px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 48px;
  padding: 0;
  margin: 0;

  font-family: 'Mulish', sans-serif;
}

nav ul li a {
  color: #7D7987;
  text-decoration: none;
  opacity: 0.5;
}

nav ul li a:hover {
  color: #1f1534;
  font-weight: bold;
  opacity: 1;
}

nav ul li a::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main section {
  width: 490px;
}

main section h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 49px;
  line-height: 56px;
  color: #1f1534;
  font-weight: normal;
}

main section h1 span {
  color: #89C5CC;
  font-weight: bold;
}

main section p {
  color: #7D7987;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 28px;
  margin: 40px 0;
}

main section button {
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;

  background: #69B99D;
  border: none;
  border-radius: 4px;
  padding: 14px 32px 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  cursor: pointer;
}

main section button:hover {
  background-color: #56a286;
}

footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: auto;
  padding-top: 100px;
  list-style: none;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 28px;
}

footer a {
  text-decoration: none;
  color: #1f1534;
}

footer a:hover {
  font-weight: bold;
}

footer a::before{
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

#balls {
  position: fixed;
  right: 0;
  bottom: 0;
}