* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* transition: all 400ms; */
}

:root {
    font-size: 62.5%;
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Roboto Mono', monospace;

    --fc-color-primary: #7C7C8A;
    --fc-color-secondary: #FFFFFF;
    --fc-color-hover: #065E7C;
    --fc-color-tertiary: #4E5455;

    --fc-table-header-color: #E1E1E6;
    --fc-table-body-color: #E1E1E6;
    --fc-table-button-color: #F75A68;
    --fc-table-button-color-hover: #ffacb3;

    --bg-color: #000000;
    --bg-input-color: #06181C;
    --bg-input-button-color: #065E7C;
    --bg-input-button-color-hover: #FFFFFF;

    --bg-thead-color: #043444;
    --bg-tbody-color: #030B0D;
    --bg-tbody-row-odd-color: #06161B77;
    --bg-tbody-row-even-color: #06181C;
    --bg-table-border-color: #4A808C;
    --bg-scrool-bar-color: #4A808C;
    --bg-scrool-bar-color-hover: #79bece;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body {
    font-size: 1.6rem;
    background-color: var(--bg-color);

    width: 100vw;
}

body .page {
    width: 100%;
    padding: 2.0rem;
    margin: 11.5rem auto 1rem;

    display: flex;
    flex-direction: column;
    gap: 8.7rem;

}

header {
    max-width: 112.0rem;
    margin: 0 auto;

    display: grid;
    grid-template-areas: "logo"
    "input";
    gap: 1.0rem;
    justify-content: space-around;

}

header svg {
    grid-area: logo;
    justify-self: center;
}

header .input-wrapper {
    width: 100%;

    grid-area: input;
    display: flex;
    gap: 8px;

    height: 4.8rem;
}

.input-wrapper input {
    background-color: var(--bg-input-color);
    width: 23.2rem;

    border: 2px solid var(--bg-input-color);
    border-radius: 5px;
    padding-left: 1.0rem;
    padding-right: 3.2rem;

    font-family: var(--ff-primary);
    color: var(--fc-color-primary);
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 400;
}

header input:focus {
    outline: 2px solid var(--bg-input-button-color);
    border-radius: 9px;
}

header button:focus {
    outline: 2px solid white;
    border-radius: 9px;
}

*:focus {
    outline: 0;
}


.input-wrapper button {
    background-color: var(--bg-input-button-color);
    padding: 0 1.0rem;

    border: 2px solid var(--bg-input-button-color);
    border-radius: 5px;

    font-family: var(--ff-primary);
    color: var(--fc-color-secondary);
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    cursor: pointer;
}

.input-wrapper button svg {
    align-self: center;
}

.input-wrapper button:hover {
    color: var(--fc-color-hover);
    background-color: var(--bg-input-button-color-hover);
}

.input-wrapper button:hover svg path {
    fill: var(--fc-color-hover);
}

div.table-container {
    border: 1px solid #4A808C;
    border-radius: 1.2rem;
    margin: 0 auto;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 90vw;

    max-width: 65.0rem;
}
  
.table-content {
    display: flex;
    flex-direction: column;
    overflow-y: overlay;
    max-height: 31.2rem;

    width: 90vw;
    max-width: 65.0rem;

}
  
.table-content::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
}
  
.table-content::-webkit-scrollbar-track {
    border-radius: 0.3rem;
    background: transparent;
}
  
.table-content::-webkit-scrollbar-thumb {
    background: #4A808C;
    border-radius: 0.3rem;  
}
  
table {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    border-collapse: collapse;

    width: 90vw;
    max-width: 65.0rem;
}
  
table * {
    font-family: var(--ff-primary);
    font-weight: bold;
    font-size: 2rem;
    line-height: 160%;
    color: var(--fc-color-secondary);
    text-decoration: none;
}
  
table tr {
    display: flex;
}
  
table thead {
    background: var(--bg-thead-color);

    display: inline-block;
    padding-top: 1.6rem;
    height: 6.4rem;
    width: 100%;

    font-size: 2rem;
    font-weight: bold;
    line-height: 160%;
}
  
table thead th.user {
    min-width: 29rem;
}

table thead th {
    width: 100%;
    padding: 0 3px;
}

table tbody tr {
    height: 10.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--bg-tbody-color);
    text-align: left;
}

table tbody tr:nth-child(odd) {
    background: var(--bg-tbody-row-odd-color);
    border-top: 1px solid var(--bg-table-border-color);
}

table tbody tr:nth-child(even) {
    background: var(--bg-tbody-row-even-color);
    border-top: 1px solid var(--bg-table-border-color);
}
  
table tbody tr td {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
}
  
table tbody tr td.user {
    height: 10.4rem;
    min-width: 29rem;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1.6rem;
}

table tbody tr td.user span {
    font-weight: normal;
}
  
table tbody tr td.user img {
    height: 5.6rem;
    border-radius: 50%;
    object-fit: cover;
}
  
table tbody tr td.remove button {
    background: none;
    border: none;
    color: var(--fc-table-button-color); 
    height: fit-content;
}
  
table tbody tr td.remove button:hover {
    color: var(--fc-table-button-color-hover);    cursor: pointer;
}

table tbody tr:last-child td.user {
    border-bottom-right-radius: 1.2rem;
}

.empty-message {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.empty-message h1 {
    font-family: var(--ff-secondary);
    color: var(--fc-color-primary);
    font-size: 3rem;
}